
* {
  box-sizing: border-box;
}

html {
  overflow-x:clip;
  background:fixed linear-gradient(in oklch, skyblue, red) 50% / 100dvw 100dvh;

  font-family:saira, sans-serif;
}

body {
  min-height:100dvh;
  margin:0;
  padding:1em;

  display:grid;
  grid-template-rows:max-content max-content 1fr min-content;
  justify-items:center;
}



/* TITEL EN CO */

h1 {
  margin:0;
}

p {
  margin:0;
}




/* DE LIJST */

ul {
  width:min(100%, 75em);
  margin:0;
  padding:1em;
  list-style-type:"";

  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
  align-content:start;
  gap:2em;
}




/* EEN CARD */

ul li {
  padding:1em;

  display:grid;
  grid-template-areas:
   "photo"
   "name ";
  align-items:center;
  gap:1em;

  background-color:#fff3;
  border-radius:4em;
  corner-shape:squircle;
}

h2 {
  grid-area:name;

  margin:0;

  display:flex;
  align-items:center;
  justify-content:center;
  gap:.25em;

  font-size:1em;
  font-weight:400;
  text-align:center;
  line-height:1.1;

  span {
    font-size:1.5em;
  }
}

img {
  grid-area:photo;

  width:100%;
  aspect-ratio:1;

  border-radius:2em;
  corner-shape:squircle;
  background-image: repeating-linear-gradient(135deg, #fff0 0 .25em, #fff3 0 .35em);

  &[src^="images/spook"] {
    opacity:.9;
  }
}

li p {
  aspect-ratio:1;
  padding:1.5em;

  display:grid;
  place-items:center;
  place-content:center;

  background-color:#fff6;
  /* background-image: repeating-linear-gradient(135deg, #fff0 0 .25em, #fff3 0 .35em); */
  border-radius:2em;
  corner-shape:squircle;
}

label {
  grid-area:name;

  padding:1em .5em;  

  display:flex;
  align-items:center;
  justify-content:center;
  gap:.25em;

  border-radius:2em 2em 0 0;
  corner-shape:squircle;
  backdrop-filter:blur(.5em);

  text-align:center;

  transform-origin:bottom;
  transform:
    perspective(20em)
    rotateX(0deg);
  transition:transform .5s, background .05s .1s, color .05s .1s, box-shadow .05s .1s;


  &:has(:checked) {
    background:LightSlateGray;
    box-shadow:
      inset 0 .2em #000,
      inset 0 -1.5em 1.5em #0006;
    color:white;
    
    transform:
      perspective(20em)
      rotateX(-135deg);
    transition:transform .5s, background .1s .2s, color .1s .2s, box-shadow .1s .2s;
  }

  &:has(:focus-visible) {
    outline:solid .2em white;
  }
}

input {
  margin:0;
  outline:none;
}



/* BUTTONS */

menu {
  position:sticky;
  bottom:1em;
  z-index:1;

  align-self:end;
  order:1;

  margin:0;
  padding:1em;
  list-style-type:"";

  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:1em;

  background-color:#fff6;
  border-radius:3em;
  corner-shape:squircle;
  backdrop-filter:blur(.35em);
}

button {
  appearance:none;

  padding:.5em;

  border:none;
  border-radius:2em;
  corner-shape:squircle;
  

  font:inherit;
}